body {
       background-color: #f9f9f9;
      }
#nomCommuneInput, #communeDropdownContainer {
    display: inline-block;
    vertical-align: top;
    width: auto; /* Ajustez selon vos besoins */
  }
  select {
    width: 100%;
  }
  
  #div_form {
   	position: sticky;
  	top: 0;
    
  }
  h1, h2 , h3, h4, h5{
  	text-align : center;
  	}

  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	 background-color: #f9f9f9; /* Couleur de fond proche du blanc */
        }