body {
background-color: black;
}
      
#nomCommuneInput, #communeDropdownContainer {
    display: inline-block;
    vertical-align: top;
    width: auto; /* Ajustez selon vos besoins */
    min-width : 400px;
  }
  select {
    width: 100%;
  }
  
  #div_form {
   	position: sticky;
  	top: 0;
  }    
#prelevementAccordion{
	margin : 20px;
	border : 2px solid #f9f9f9;
	}
  
 h1, h2 , h3, h4, h5{
  	text-align : center;
  	}
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
        }